$zapperGreen: #8FC74B;
$zapperBlue: #005cb9;

/*
 * Misc stuff
 * ------------------------------------------------------------------
 */

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

a {
	color: $zapperGreen;
}

.btn-primary {
	background-color: $zapperBlue;
    border-color: $zapperBlue;
}

.logo svg * {
    fill: #005cb9;
}

/*
 * Date picker stuff
 * ------------------------------------------------------------------
 */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: darken($zapperBlue, 15%);
}

.svg-icon circle {
  stroke: darken($zapperBlue, 15%);
  stroke-width: 1;
}

a > * {
  pointer-events: none;
}


.diy-dpicker {
	display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0.25rem;
    text-align: center;
    background: $zapperGreen;
    color: #fff;
    box-shadow: 1px 1px 5px #888;
    border-bottom: 1px solid #fff;
    border-radius: 10px 10px 0 0;

    .group:after {
	  content: "";
	  display: table;
	  clear: both;
	}

    .diy-dhead {
	    padding: 16px;
	    background: $zapperBlue;
	    margin: -0.25rem -0.25rem 0.25rem -0.25rem;
	    border-bottom: 1px solid #fff;
	    border-radius: 10px 10px 0 0;

	    .year-control {
	    	float: left;
	    	line-height: 2em;
	    	width: 40%;
	    }

	    .month-control {
	    	@extend .year-control;
	    	width: 50%;
	    	margin-right: 10%;
	    }

	    select.month {
		    width: 100%;
		    height: 2.2rem;
		    background: darken($zapperBlue, 15%);
		    color: #fff;
		    border: none;
		}

		.year-display {
			width: 40%;
			float: left;
			text-align: center;
		}

		.year-control.prev {
			width: 30%;
			float: left;
			text-align: left;
		}

		.year-control.next{
			width: 30%;
			float: left;
			text-align: right;
		}
	}

    .day {
	    width: calc( (100% - (2%*8) ) /7 ); /*margins 2% left only so x8 from the 100% and then divide whats left by 7cols*/
	    float: left;
	    border-radius: 50%;
	    border: 1px solid transparent;
	    background: darken($zapperGreen, 10%);
	    line-height: 1.1em;
	    padding: 0.3em 0.6em;
	    margin: 2% 0 2% 2%;
	    cursor: pointer;

	    opacity: 1;
    	animation: fadein 1s linear;

	    &:hover{
	    	background: darken($zapperGreen, 15%);
	    }

	    &.selected {
		    border: 1px solid #fff;
		}
	}
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


